Nifi Arch /All-4.json
{"flowContents":{"identifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","instanceIdentifier":"1669bf84-019c-1000-bfc4-36f428360054","name":"All","comments":"","position":{"x":-207.0,"y":-208.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"612828bd-4155-3e75-8633-66b96f9490ff","instanceIdentifier":"1671d902-019c-1000-6f2c-600cf4971c91","name":"PutDatabaseRecord","comments":"","position":{"x":-144.0,"y":440.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Table Name":"bronze","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"016df48f-9290-3e08-a3ad-5be7ff75d255","Delete Keys":null,"Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Quote Table Identifiers":"false","Schema Name":"energy_weather","Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_UNDERSCORE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Fail on Unmatched Columns","Database Type":"Generic","Translate Field Names":"true","Statement Type":"INSERT","Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","instanceIdentifier":"166f7c92-019c-1000-b9b4-e41690f224dd","name":"SplitRecord","comments":"","position":{"x":-168.0,"y":248.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Record Writer":"09c7920c-f697-38c9-877f-4ddbecf52f5a","Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Records Per Split":"1000"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"f47943e4-cb5a-334f-988a-e47ec42d6dce","instanceIdentifier":"166c18ab-019c-1000-6c80-41e629582508","name":"FetchGCSObject","comments":"","position":{"x":-160.0,"y":40.0},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Object Generation":null,"Range Start":null,"Number of Retries":"6","Storage API URL":null,"Bucket":"${gcs.bucket}","Project ID":"mybigdataproject-485818","Key":"${filename}","Range Length":null,"Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Generation":{"name":"Object Generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","instanceIdentifier":"1669fc34-019c-1000-f629-2239b1c0bae8","name":"ListGCSBucket","comments":"","position":{"x":-150.0,"y":-149.0},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Entity Tracking Initial Listing Target":"all","Entity Tracking State Cache":null,"Project ID":"mybigdataproject-485818","Use Generations":"false","Prefix":"landing/raw/","Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Record Writer":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"1 min"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Generations":{"name":"Use Generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d25227f0-02e6-39d9-8e88-584be7411e95","instanceIdentifier":"167198a9-019c-1000-b0ed-55176fedeaef","name":"","source":{"id":"f47943e4-cb5a-334f-988a-e47ec42d6dce","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"FetchGCSObject","comments":"","instanceIdentifier":"166c18ab-019c-1000-6c80-41e629582508"},"destination":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"SplitRecord","comments":"","instanceIdentifier":"166f7c92-019c-1000-b9b4-e41690f224dd"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"8237860d-2662-3033-8237-63605c5c256e","instanceIdentifier":"166c4925-019c-1000-6e3a-dece2dd27775","name":"","source":{"id":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"ListGCSBucket","comments":"","instanceIdentifier":"1669fc34-019c-1000-f629-2239b1c0bae8"},"destination":{"id":"f47943e4-cb5a-334f-988a-e47ec42d6dce","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"FetchGCSObject","comments":"","instanceIdentifier":"166c18ab-019c-1000-6c80-41e629582508"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"725606eb-4d12-34fd-aa21-0ead8892e0d9","instanceIdentifier":"1674958f-019c-1000-d9fa-b1b7da1c9212","name":"","source":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"SplitRecord","comments":"","instanceIdentifier":"166f7c92-019c-1000-b9b4-e41690f224dd"},"destination":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"f1690b56-c63b-31b8-8e70-70f007f2dc8c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1671d902-019c-1000-6f2c-600cf4971c91"},"labelIndex":0,"zIndex":3,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"09c7920c-f697-38c9-877f-4ddbecf52f5a","instanceIdentifier":"16772e8d-019c-1000-37c9-8abd42329045","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"016df48f-9290-3e08-a3ad-5be7ff75d255","instanceIdentifier":"1672f2e0-019c-1000-1e84-ef2ad8edd256","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/jdbc","Max Wait Time":"500 millis","Database Driver Class Name":"com.ing.data.cassandra.jdbc.CassandraDriver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":"SELECT release_version FROM system.local;","Database Password Provider":null,"Database Connection URL":"jdbc:cassandra://10.0.0.10--10.0.0.11--10.0.0.12:9042/energy_weather?localdatacenter=datacenter1","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":null,"Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"05e26207-ed56-3101-939e-c9b4aa6b1297","instanceIdentifier":"16f1306d-019c-1000-ec3a-04b6c486e6ac","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.7.2"},"properties":{"energy_weather_bronze":"{\n  \"type\": \"record\",\n  \"name\": \"energy_weather_bronze\",\n  \"fields\": [\n    { \"name\": \"ts\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"city\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"zip\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"egridregion\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"temperaturef\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"humidity\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"data_availability_weather\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"wetbulbtemperaturef\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"coal\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"hydro\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"naturalgas\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"nuclear\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"other\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"petroleum\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"solar\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"wind\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"data_availability_energy\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"onsitewuefixedapproach\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"onsitewuefixedcoldwater\", \"type\": [\"null\",\"string\"], \"default\": null },\n    { \"name\": \"offsitewue\", \"type\": [\"null\",\"string\"], \"default\": null }\n  ]\n}\n","Validate Field Names":"true"},"propertyDescriptors":{"energy_weather_bronze":{"name":"energy_weather_bronze","displayName":"energy_weather_bronze","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Validate Field Names":{"name":"Validate Field Names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"44fb5027-b727-3454-b5a8-778a314a8dfb","instanceIdentifier":"166b26d7-019c-1000-d0e6-d9d2dd039839","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Authentication Strategy":"Application Default Credentials","Scope":"https://www.googleapis.com/auth/cloud-platform","Audience":null,"STS Token Endpoint":"https://sts.googleapis.com/v1/token","Service Account JSON File":null,"Subject Token Provider":null,"Delegation Strategy":"Service Account","Subject Token Type":"urn:ietf:params:oauth:token-type:jwt","Delegation User":null,"Proxy Configuration Service":null},"propertyDescriptors":{"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STS Token Endpoint":{"name":"STS Token Endpoint","displayName":"STS Token Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Account JSON File":{"name":"Service Account JSON File","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Service Account JSON":{"name":"Service Account JSON","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Subject Token Provider":{"name":"Subject Token Provider","displayName":"Subject Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject Token Type":{"name":"Subject Token Type","displayName":"Subject Token Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"},{"identifier":"b00d2c01-37eb-322c-943b-6be4535d199d","instanceIdentifier":"1670907e-019c-1000-e6a3-e1c325ded0e4","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":"05e26207-ed56-3101-939e-c9b4aa6b1297","Treat First Line as Header":"true","Schema Access Strategy":"schema-name","Ignore CSV Header Column Names":"false","Schema Name":"energy_weather_bronze","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\"","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f1690b56-c63b-31b8-8e70-70f007f2dc8c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}