Nifi Arch /All-4-13-5.json
{"flowContents":{"identifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137","instanceIdentifier":"2a3e6215-019c-1000-8597-55038a86b4fb","name":"All-4-13","comments":"","position":{"x":-392.0,"y":-16.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a69fcc29-04be-337d-95b4-c9f7845a3518","instanceIdentifier":"84e9286d-a29d-3670-9faa-039ad16288d4","name":"DeleteGCSObject","comments":"","position":{"x":-160.0,"y":2736.0},"type":"org.apache.nifi.processors.gcp.storage.DeleteGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Number of Retries":"6","Storage API URL":null,"Generation":null,"Bucket":"mysimbdp-landing-485818","Project ID":"mybigdataproject-485818","Key":"${filename}","Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Generation":{"name":"Generation","displayName":"Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"af79d8ff-1197-328d-966f-300038885263","instanceIdentifier":"2a536ec6-019c-1000-baca-8d34b1be5679","name":"FailureCount","comments":"","position":{"x":-760.0,"y":1576.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"batchFailures":"${failureCount}","Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"batchFailures":{"name":"batchFailures","displayName":"batchFailures","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","instanceIdentifier":"3ce625cc-0ee5-3c31-f632-a118e4a61f92","name":"PutGCSObject","comments":"","position":{"x":-176.0,"y":2504.0},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Overwrite Object":"true","Project ID":"mybigdataproject-485818","Resource Transfer Source":"FLOWFILE_CONTENT","File Resource Service":null,"Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Content Disposition Type":null,"Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Content Type":"${mime.type}","Object ACL":null,"Key":"${gcs.dest.object}","CRC32C Checksum":null,"GZIP Compression Enabled":"true"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Object":{"name":"Overwrite Object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Disposition Type":{"name":"Content Disposition Type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object ACL":{"name":"Object ACL","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CRC32C Checksum":{"name":"CRC32C Checksum","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GZIP Compression Enabled":{"name":"GZIP Compression Enabled","displayName":"GZIP Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","instanceIdentifier":"0f8097b5-3526-3d0a-80fd-f1cdd1470f9a","name":"SplitRecord","comments":"","position":{"x":-152.0,"y":1168.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Record Writer":"09c7920c-f697-38c9-877f-4ddbecf52f5a","Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Records Per Split":"100"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2108cc8a-019c-1000-0ef3-28492a70442d","instanceIdentifier":"ef78b917-e617-36e0-3f56-dff2aa9c624c","name":"UpdateAttribute","comments":"","position":{"x":-1328.0,"y":1560.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:replaceFirst('^landing/raw/','landing/failed/'):replaceFirst('\\.tsv$','')}_${now():format(\"yyyyMMddHHmmssSSS\")}_${uuid}_failed.csv"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","instanceIdentifier":"ac55bbde-b4d8-3fbd-2701-8c69dcf662c9","name":"ListGCSBucket","comments":"","position":{"x":-144.0,"y":672.0},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Entity Tracking Initial Listing Target":"all","Entity Tracking State Cache":null,"Project ID":"mybigdataproject-485818","Use Generations":"false","Prefix":"landing/raw/","Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Record Writer":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"1 min"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Generations":{"name":"Use Generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2a51322d-019c-1000-bf46-be75cb51bb99","instanceIdentifier":"e9537dcf-2895-376a-8e8c-6b7fdd0c934e","name":"IngestionEndTime","comments":"","position":{"x":-144.0,"y":2048.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"batchEndTime":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"batchEndTime":{"name":"batchEndTime","displayName":"batchEndTime","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0.0005 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"1b7cb088-019c-1000-3a14-5b8f29f2da21","instanceIdentifier":"b7ec2faf-6f1a-340d-46d6-98beb8b0cc85","name":"FetchGCSObject","comments":"","position":{"x":-144.0,"y":920.0},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Object Generation":null,"Range Start":null,"Number of Retries":"6","Storage API URL":null,"Bucket":"${gcs.bucket}","Project ID":"mybigdataproject-485818","Key":"${filename}","Range Length":null,"Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Generation":{"name":"Object Generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"612828bd-4155-3e75-8633-66b96f9490ff","instanceIdentifier":"4dd81156-1afe-31ce-8622-4adda487a2a9","name":"PutDatabaseRecord","comments":"","position":{"x":-136.0,"y":1632.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Table Name":"reviews_by_product","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"016df48f-9290-3e08-a3ad-5be7ff75d255","Delete Keys":null,"Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Quote Table Identifiers":"false","Schema Name":"amazon","Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"PATTERN","Binary String Format":"UTF-8","Unmatched Column Behavior":"Warn on Unmatched Columns","Database Type":"Generic","Translate Field Names":"false","Statement Type":"INSERT","Table Schema Cache Size":"100","Maximum Batch Size":"70"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","instanceIdentifier":"4be7c4a0-e737-31c9-fbe3-0a8e63f64736","name":"UpdateAttribute","comments":"","position":{"x":-168.0,"y":2240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:replaceFirst('^landing/raw/', 'landing/processed/'):replaceFirst('(\\\\.[^./]+)?$', '_${now():format(\"yyyyMMdd-HHmmss\")}$1')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"dc913336-9e4a-31f1-ba54-3b628cfbaa48","instanceIdentifier":"2a4d6fb1-019c-1000-41e7-b84a17d4ae3f","name":"IngestionStartTime","comments":"","position":{"x":-112.0,"y":1440.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"batchStartTime":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"batchStartTime":{"name":"batchStartTime","displayName":"batchStartTime","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"0.0005 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2a5597d9-019c-1000-9b1d-00e1d5d1ce90","instanceIdentifier":"7337899c-2802-30ad-d3eb-fe3f9fe83496","name":"SuccessCount","comments":"","position":{"x":-312.0,"y":1856.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"batchSuccessCount":"${successCount}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"batchSuccessCount":{"name":"batchSuccessCount","displayName":"batchSuccessCount","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2108cc8b-019c-1000-80ba-4758014b779e","instanceIdentifier":"87404094-e49a-395d-8556-b9025a287776","name":"PutGCSObject","comments":"","position":{"x":-1328.0,"y":1896.0},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Overwrite Object":"true","Project ID":"mybigdataproject-485818","Resource Transfer Source":"FLOWFILE_CONTENT","File Resource Service":null,"Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Content Disposition Type":null,"Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Content Type":"${mime.type}","Object ACL":null,"Key":"${gcs.dest.object}","CRC32C Checksum":null,"GZIP Compression Enabled":"false"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Object":{"name":"Overwrite Object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Disposition Type":{"name":"Content Disposition Type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object ACL":{"name":"Object ACL","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CRC32C Checksum":{"name":"CRC32C Checksum","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GZIP Compression Enabled":{"name":"GZIP Compression Enabled","displayName":"GZIP Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"9e7e6b7a-f885-3f21-adc9-4232b72a2c60","instanceIdentifier":"2a783ec5-019c-1000-3167-a33966aa7ab9","name":"LogAttribute","comments":"","position":{"x":584.0,"y":1944.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":"IngestionEndTime,IngestionStartTime","Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5aabee03-ecc1-3523-bb47-1c845b405113","instanceIdentifier":"2a932753-019c-1000-7960-dafb01786820","name":"","source":{"id":"2a51322d-019c-1000-bf46-be75cb51bb99","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionEndTime","comments":"","instanceIdentifier":"e9537dcf-2895-376a-8e8c-6b7fdd0c934e"},"destination":{"id":"9e7e6b7a-f885-3f21-adc9-4232b72a2c60","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"LogAttribute","comments":"","instanceIdentifier":"2a783ec5-019c-1000-3167-a33966aa7ab9"},"labelIndex":0,"zIndex":47,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"3603e8ff-f6d7-3ca2-b202-22eb4bfd5d7a","instanceIdentifier":"ab82eb43-c86d-3598-7aa4-1abfe1ac9cb7","name":"","source":{"id":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"ListGCSBucket","comments":"","instanceIdentifier":"ac55bbde-b4d8-3fbd-2701-8c69dcf662c9"},"destination":{"id":"1b7cb088-019c-1000-3a14-5b8f29f2da21","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"FetchGCSObject","comments":"","instanceIdentifier":"b7ec2faf-6f1a-340d-46d6-98beb8b0cc85"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"094b50f8-ab2f-368b-856a-5a86e6821c71","instanceIdentifier":"e17a9132-33bf-3da9-4930-ae3f6aa04149","name":"","source":{"id":"2108cc8a-019c-1000-0ef3-28492a70442d","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"UpdateAttribute","comments":"","instanceIdentifier":"ef78b917-e617-36e0-3f56-dff2aa9c624c"},"destination":{"id":"2108cc8b-019c-1000-80ba-4758014b779e","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutGCSObject","comments":"","instanceIdentifier":"87404094-e49a-395d-8556-b9025a287776"},"labelIndex":0,"zIndex":32,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"118fd1e1-9bf2-306a-b344-09754a4aee24","instanceIdentifier":"2e0fbc19-2d05-334d-d428-5bc08874493a","name":"","source":{"id":"1b7cb088-019c-1000-3a14-5b8f29f2da21","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"FetchGCSObject","comments":"","instanceIdentifier":"b7ec2faf-6f1a-340d-46d6-98beb8b0cc85"},"destination":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"SplitRecord","comments":"","instanceIdentifier":"0f8097b5-3526-3d0a-80fd-f1cdd1470f9a"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"744c56b6-5f2f-3bfe-b4a6-1714499543e9","instanceIdentifier":"76afea33-5467-3185-9a24-f4f700cd88d4","name":"","source":{"id":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutGCSObject","comments":"","instanceIdentifier":"3ce625cc-0ee5-3c31-f632-a118e4a61f92"},"destination":{"id":"a69fcc29-04be-337d-95b4-c9f7845a3518","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"DeleteGCSObject","comments":"","instanceIdentifier":"84e9286d-a29d-3670-9faa-039ad16288d4"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"5fb6d704-2ebb-3555-a9d6-fe50efd0a83f","instanceIdentifier":"2a5f7654-019c-1000-d1f4-27c2079a2fc1","name":"","source":{"id":"dc913336-9e4a-31f1-ba54-3b628cfbaa48","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionStartTime","comments":"","instanceIdentifier":"2a4d6fb1-019c-1000-41e7-b84a17d4ae3f"},"destination":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4dd81156-1afe-31ce-8622-4adda487a2a9"},"labelIndex":0,"zIndex":37,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"d407951d-3110-331c-a9a6-22436b61f7bb","instanceIdentifier":"2a5f6ac0-019c-1000-7e76-c32baea0ec27","name":"","source":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"SplitRecord","comments":"","instanceIdentifier":"0f8097b5-3526-3d0a-80fd-f1cdd1470f9a"},"destination":{"id":"dc913336-9e4a-31f1-ba54-3b628cfbaa48","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionStartTime","comments":"","instanceIdentifier":"2a4d6fb1-019c-1000-41e7-b84a17d4ae3f"},"labelIndex":0,"zIndex":36,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"eacaa101-8805-3439-9a3a-ea1bf3a64f01","instanceIdentifier":"2a922691-019c-1000-647c-a2c5b22f4e1d","name":"","source":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4dd81156-1afe-31ce-8622-4adda487a2a9"},"destination":{"id":"2a51322d-019c-1000-bf46-be75cb51bb99","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionEndTime","comments":"","instanceIdentifier":"e9537dcf-2895-376a-8e8c-6b7fdd0c934e"},"labelIndex":0,"zIndex":46,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"388d806b-f09f-3b23-99ab-f5b11bfce538","instanceIdentifier":"2a7b505b-019c-1000-ebc2-bb2c3b54d096","name":"","source":{"id":"dc913336-9e4a-31f1-ba54-3b628cfbaa48","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionStartTime","comments":"","instanceIdentifier":"2a4d6fb1-019c-1000-41e7-b84a17d4ae3f"},"destination":{"id":"9e7e6b7a-f885-3f21-adc9-4232b72a2c60","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"LogAttribute","comments":"","instanceIdentifier":"2a783ec5-019c-1000-3167-a33966aa7ab9"},"labelIndex":0,"zIndex":45,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2531b987-83e5-3f6f-bcbc-9a60b12a5db2","instanceIdentifier":"b207001a-e369-3be5-2261-b02327c709c9","name":"","source":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"SplitRecord","comments":"","instanceIdentifier":"0f8097b5-3526-3d0a-80fd-f1cdd1470f9a"},"destination":{"id":"2108cc8a-019c-1000-0ef3-28492a70442d","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"UpdateAttribute","comments":"","instanceIdentifier":"ef78b917-e617-36e0-3f56-dff2aa9c624c"},"labelIndex":0,"zIndex":31,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"2654b288-ecf7-3ce5-a885-4ad2e4668c59","instanceIdentifier":"2a6123fb-019c-1000-d00f-5934f7270a4b","name":"","source":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4dd81156-1afe-31ce-8622-4adda487a2a9"},"destination":{"id":"af79d8ff-1197-328d-966f-300038885263","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"FailureCount","comments":"","instanceIdentifier":"2a536ec6-019c-1000-baca-8d34b1be5679"},"labelIndex":0,"zIndex":42,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"c6ac5446-b9ef-3c57-b835-dddf9a861156","instanceIdentifier":"2a60f308-019c-1000-dbc5-2f88696267b5","name":"","source":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"4dd81156-1afe-31ce-8622-4adda487a2a9"},"destination":{"id":"2a5597d9-019c-1000-9b1d-00e1d5d1ce90","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"SuccessCount","comments":"","instanceIdentifier":"7337899c-2802-30ad-d3eb-fe3f9fe83496"},"labelIndex":0,"zIndex":40,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"9e35ae78-6dc4-3ed2-8373-b97a13bc1b24","instanceIdentifier":"fad0e8bd-d0f6-3976-75c6-f7051017a0bf","name":"","source":{"id":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"UpdateAttribute","comments":"","instanceIdentifier":"4be7c4a0-e737-31c9-fbe3-0a8e63f64736"},"destination":{"id":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"PutGCSObject","comments":"","instanceIdentifier":"3ce625cc-0ee5-3c31-f632-a118e4a61f92"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"5235b09d-dbc0-3baa-808c-a20214f845af","instanceIdentifier":"2a613c7e-019c-1000-e9e3-44951ef62dec","name":"","source":{"id":"af79d8ff-1197-328d-966f-300038885263","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"FailureCount","comments":"","instanceIdentifier":"2a536ec6-019c-1000-baca-8d34b1be5679"},"destination":{"id":"2108cc8a-019c-1000-0ef3-28492a70442d","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"UpdateAttribute","comments":"","instanceIdentifier":"ef78b917-e617-36e0-3f56-dff2aa9c624c"},"labelIndex":0,"zIndex":43,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"72bb2ee1-ab00-3a8b-9d06-783752fbeec6","instanceIdentifier":"2a60313b-019c-1000-6523-0dd2b1031196","name":"","source":{"id":"2a51322d-019c-1000-bf46-be75cb51bb99","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"IngestionEndTime","comments":"","instanceIdentifier":"e9537dcf-2895-376a-8e8c-6b7fdd0c934e"},"destination":{"id":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","type":"PROCESSOR","groupId":"0588aab3-bec0-3e34-8ae5-23560a9b2137","name":"UpdateAttribute","comments":"","instanceIdentifier":"4be7c4a0-e737-31c9-fbe3-0a8e63f64736"},"labelIndex":0,"zIndex":39,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"09c7920c-f697-38c9-877f-4ddbecf52f5a","instanceIdentifier":"04022538-04c8-3135-5fb3-5d52092fce31","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":"\\t","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"016df48f-9290-3e08-a3ad-5be7ff75d255","instanceIdentifier":"2e43da90-7179-3b82-0b83-6b7bb629ae58","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/jdbc","Max Wait Time":"500 millis","Database Driver Class Name":"com.ing.data.cassandra.jdbc.CassandraDriver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"10","Validation Query":"SELECT release_version FROM system.local;","Database Password Provider":null,"Database Connection URL":"jdbc:cassandra://10.0.0.10--10.0.0.11--10.0.0.12:9042/amazon?localdatacenter=datacenter1&consistency=QUORUM","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":null,"Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"b00d2c01-37eb-322c-943b-6be4535d199d","instanceIdentifier":"7abf4677-6794-335a-d447-ba6905704e27","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"{\n  \"type\":\"record\",\n  \"name\":\"amazon_review\",\n  \"fields\":[\n    {\"name\":\"marketplace\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"customer_id\",\"type\":[\"null\",\"long\"],\"default\":null},\n    {\"name\":\"review_id\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_id\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_parent\",\"type\":[\"null\",\"long\"],\"default\":null},\n    {\"name\":\"product_title\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_category\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"star_rating\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"helpful_votes\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"total_votes\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"vine\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"verified_purchase\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_headline\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_body\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_date\",\"type\":[\"null\",\"string\"],\"default\":null}\n  ]\n}","CSV Format":"custom","Quote Character":"","Value Separator":"\\t","Schema Registry":"8c444b61-8492-36b9-ef53-5af93995ac46","Treat First Line as Header":"true","Schema Access Strategy":"schema-text-property","Ignore CSV Header Column Names":"true","Schema Name":"energy_weather_bronze","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"false","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"},{"identifier":"44fb5027-b727-3454-b5a8-778a314a8dfb","instanceIdentifier":"9f057323-50b0-3eb0-cb67-f117b67cfcb4","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Authentication Strategy":"Application Default Credentials","Scope":"https://www.googleapis.com/auth/cloud-platform","Audience":null,"STS Token Endpoint":"https://sts.googleapis.com/v1/token","Service Account JSON File":null,"Subject Token Provider":null,"Delegation Strategy":"Service Account","Subject Token Type":"urn:ietf:params:oauth:token-type:jwt","Delegation User":null,"Proxy Configuration Service":null},"propertyDescriptors":{"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STS Token Endpoint":{"name":"STS Token Endpoint","displayName":"STS Token Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Account JSON File":{"name":"Service Account JSON File","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Service Account JSON":{"name":"Service Account JSON","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Subject Token Provider":{"name":"Subject Token Provider","displayName":"Subject Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject Token Type":{"name":"Subject Token Type","displayName":"Subject Token Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0588aab3-bec0-3e34-8ae5-23560a9b2137"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}