Nifi Arch /DataIngest-3.json
{"flowContents":{"identifier":"b0572494-1075-3efe-8c62-7c3044776c35","instanceIdentifier":"1bb037ed-019c-1000-9cc4-62ac29cad2ba","name":"DataIngest","comments":"","position":{"x":-240.0,"y":-176.0},"processGroups":[{"identifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09","instanceIdentifier":"1b457013-019c-1000-e943-7fe5650fd5c0","name":"All-4","comments":"","position":{"x":-216.0,"y":-40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a69fcc29-04be-337d-95b4-c9f7845a3518","instanceIdentifier":"1b573700-019c-1000-9c41-ce512995f7fa","name":"DeleteGCSObject","comments":"","position":{"x":352.0,"y":1944.0},"type":"org.apache.nifi.processors.gcp.storage.DeleteGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Number of Retries":"6","Storage API URL":null,"Generation":null,"Bucket":"mysimbdp-landing-485818","Project ID":"mybigdataproject-485818","Key":"${filename}","Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Generation":{"name":"Generation","displayName":"Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"1b6d0d63-019c-1000-f178-c5c7121a6028","instanceIdentifier":"dbdd3a62-8203-3855-8291-03239ed2fd56","name":"PutGCSObject","comments":"","position":{"x":-552.0,"y":1736.0},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Overwrite Object":"true","Project ID":"mybigdataproject-485818","Resource Transfer Source":"FLOWFILE_CONTENT","File Resource Service":null,"Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Content Disposition Type":null,"Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Content Type":"${mime.type}","Object ACL":null,"Key":"${gcs.dest.object}","CRC32C Checksum":null,"GZIP Compression Enabled":"true"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Object":{"name":"Overwrite Object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Disposition Type":{"name":"Content Disposition Type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object ACL":{"name":"Object ACL","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CRC32C Checksum":{"name":"CRC32C Checksum","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GZIP Compression Enabled":{"name":"GZIP Compression Enabled","displayName":"GZIP Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"612828bd-4155-3e75-8633-66b96f9490ff","instanceIdentifier":"7fb4f183-4871-3efb-9d4a-8cfb37d2a933","name":"PutDatabaseRecord","comments":"","position":{"x":-152.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Table Name":"reviews_by_product","Quote Column Identifiers":"false","Max Wait Time":"0 seconds","Database Connection Pooling Service":"016df48f-9290-3e08-a3ad-5be7ff75d255","Delete Keys":null,"Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Quote Table Identifiers":"false","Schema Name":"amazon","Database Session AutoCommit":"false","Unmatched Field Behavior":"Ignore Unmatched Fields","Database Name":null,"Allow Multiple SQL Statements":"false","Rollback On Failure":"false","Update Keys":null,"Field Containing SQL":null,"Database Dialect Service":null,"Data Record Path":null,"Statement Type Record Path":null,"Column Name Translation Pattern":null,"Column Name Translation Strategy":"REMOVE_UNDERSCORE","Binary String Format":"UTF-8","Unmatched Column Behavior":"Fail on Unmatched Columns","Database Type":"Generic","Translate Field Names":"false","Statement Type":"INSERT","Table Schema Cache Size":"100","Maximum Batch Size":"1000"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Column Identifiers":{"name":"Quote Column Identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quote Table Identifiers":{"name":"Quote Table Identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Session AutoCommit":{"name":"Database Session AutoCommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Multiple SQL Statements":{"name":"Allow Multiple SQL Statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rollback On Failure":{"name":"Rollback On Failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Field Containing SQL":{"name":"Field Containing SQL","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary String Format":{"name":"Binary String Format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Cache Size":{"name":"Table Schema Cache Size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","instanceIdentifier":"1b596909-019c-1000-55ca-c4c367821d4a","name":"PutGCSObject","comments":"","position":{"x":360.0,"y":1760.0},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Overwrite Object":"true","Project ID":"mybigdataproject-485818","Resource Transfer Source":"FLOWFILE_CONTENT","File Resource Service":null,"Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Content Disposition Type":null,"Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Content Type":"${mime.type}","Object ACL":null,"Key":"${gcs.dest.object}","CRC32C Checksum":null,"GZIP Compression Enabled":"true"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Object":{"name":"Overwrite Object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Disposition Type":{"name":"Content Disposition Type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object ACL":{"name":"Object ACL","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CRC32C Checksum":{"name":"CRC32C Checksum","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GZIP Compression Enabled":{"name":"GZIP Compression Enabled","displayName":"GZIP Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","instanceIdentifier":"1b57758d-019c-1000-4b0e-dc9a17f82b5d","name":"UpdateAttribute","comments":"","position":{"x":360.0,"y":1568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:replaceFirst('^landing/raw/', 'landing/processed/'):replaceFirst('(\\\\.[^./]+)?$', '_${now():format(\"yyyyMMdd-HHmmss\")}$1')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"1b6c9cc3-019c-1000-0e04-84fa259dcd71","instanceIdentifier":"9abdc7a5-1a5e-3c85-bc7c-f0b8045cb043","name":"UpdateAttribute","comments":"","position":{"x":-536.0,"y":1520.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:replaceFirst('^landing/raw/', 'landing/failed/'):replaceFirst('(\\\\.[^./]+)?$', '_${now():format(\"yyyyMMdd-HHmmss\")}$1')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","instanceIdentifier":"312f63d8-7527-3c21-4feb-12bae1bea604","name":"SplitRecord","comments":"","position":{"x":-176.0,"y":1152.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Record Writer":"09c7920c-f697-38c9-877f-4ddbecf52f5a","Record Reader":"b00d2c01-37eb-322c-943b-6be4535d199d","Records Per Split":"1000"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","instanceIdentifier":"e59f0a7b-e1db-3d5d-d47f-8680827a5cf4","name":"ListGCSBucket","comments":"","position":{"x":-144.0,"y":672.0},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Entity Tracking Initial Listing Target":"all","Entity Tracking State Cache":null,"Project ID":"mybigdataproject-485818","Use Generations":"false","Prefix":"landing/raw/","Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Record Writer":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"1 min"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Generations":{"name":"Use Generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"1b6d0d64-019c-1000-46a9-b20f924d3f29","instanceIdentifier":"9d775358-019c-332c-5182-6dfde6f4faa5","name":"UpdateAttribute","comments":"","position":{"x":-2344.0,"y":856.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:replaceFirst('^landing/raw/', 'landing/failed/'):replaceFirst('(\\\\.[^./]+)?$', '_${now():format(\"yyyyMMdd-HHmmss\")}$1')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"1b6d0d62-019c-1000-0293-44b862e10ff4","instanceIdentifier":"e2921426-d69f-354a-1afb-82c15c550f43","name":"DeleteGCSObject","comments":"","position":{"x":-560.0,"y":1928.0},"type":"org.apache.nifi.processors.gcp.storage.DeleteGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Number of Retries":"6","Storage API URL":null,"Generation":null,"Bucket":"mysimbdp-landing-485818","Project ID":"mybigdataproject-485818","Key":"${filename}","Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Generation":{"name":"Generation","displayName":"Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"1b7cb088-019c-1000-3a14-5b8f29f2da21","instanceIdentifier":"e487ecc1-4770-31bc-5018-4f3eb0dea90e","name":"FetchGCSObject","comments":"","position":{"x":-144.0,"y":920.0},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Object Generation":null,"Range Start":null,"Number of Retries":"6","Storage API URL":null,"Bucket":"${gcs.bucket}","Project ID":"mybigdataproject-485818","Key":"${filename}","Range Length":null,"Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Generation":{"name":"Object Generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1b6d0d65-019c-1000-3650-b42d5377bc56","instanceIdentifier":"568bb091-015f-3a03-67bf-b3ce0fbba5a9","name":"","source":{"id":"1b6d0d63-019c-1000-f178-c5c7121a6028","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutGCSObject","comments":"","instanceIdentifier":"dbdd3a62-8203-3855-8291-03239ed2fd56"},"destination":{"id":"1b6d0d62-019c-1000-0293-44b862e10ff4","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"DeleteGCSObject","comments":"","instanceIdentifier":"e2921426-d69f-354a-1afb-82c15c550f43"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"77fc6e5e-f9b4-31af-b9b2-652849a744bf","instanceIdentifier":"1b6d4e45-019c-1000-3380-afa8c9a81e66","name":"","source":{"id":"1b6c9cc3-019c-1000-0e04-84fa259dcd71","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"UpdateAttribute","comments":"","instanceIdentifier":"9abdc7a5-1a5e-3c85-bc7c-f0b8045cb043"},"destination":{"id":"1b6d0d63-019c-1000-f178-c5c7121a6028","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutGCSObject","comments":"","instanceIdentifier":"dbdd3a62-8203-3855-8291-03239ed2fd56"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"3603e8ff-f6d7-3ca2-b202-22eb4bfd5d7a","instanceIdentifier":"1b98af9d-019c-1000-36dc-05d56ec9f471","name":"","source":{"id":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"ListGCSBucket","comments":"","instanceIdentifier":"e59f0a7b-e1db-3d5d-d47f-8680827a5cf4"},"destination":{"id":"1b7cb088-019c-1000-3a14-5b8f29f2da21","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"FetchGCSObject","comments":"","instanceIdentifier":"e487ecc1-4770-31bc-5018-4f3eb0dea90e"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"38016f11-f038-3edf-b2f7-8ba7f40af4a5","instanceIdentifier":"1b7ce077-019c-1000-7978-7e4a00893e78","name":"","source":{"id":"1b7cb088-019c-1000-3a14-5b8f29f2da21","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"FetchGCSObject","comments":"","instanceIdentifier":"e487ecc1-4770-31bc-5018-4f3eb0dea90e"},"destination":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"SplitRecord","comments":"","instanceIdentifier":"312f63d8-7527-3c21-4feb-12bae1bea604"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"725606eb-4d12-34fd-aa21-0ead8892e0d9","instanceIdentifier":"1fb640b1-6b50-3688-da92-7053ee168431","name":"","source":{"id":"38fbcf1c-1f97-35f8-aa96-ff09ebbf8410","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"SplitRecord","comments":"","instanceIdentifier":"312f63d8-7527-3c21-4feb-12bae1bea604"},"destination":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"7fb4f183-4871-3efb-9d4a-8cfb37d2a933"},"labelIndex":0,"zIndex":3,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"744c56b6-5f2f-3bfe-b4a6-1714499543e9","instanceIdentifier":"1b6c32f5-019c-1000-20d0-135ffab36a74","name":"","source":{"id":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutGCSObject","comments":"","instanceIdentifier":"1b596909-019c-1000-55ca-c4c367821d4a"},"destination":{"id":"a69fcc29-04be-337d-95b4-c9f7845a3518","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"DeleteGCSObject","comments":"","instanceIdentifier":"1b573700-019c-1000-9c41-ce512995f7fa"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"5a2c40db-bcd0-3558-aaf4-ea00b7299f33","instanceIdentifier":"1b6cdf6b-019c-1000-f3bb-3999ffe53e7d","name":"","source":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"7fb4f183-4871-3efb-9d4a-8cfb37d2a933"},"destination":{"id":"1b6c9cc3-019c-1000-0e04-84fa259dcd71","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"UpdateAttribute","comments":"","instanceIdentifier":"9abdc7a5-1a5e-3c85-bc7c-f0b8045cb043"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"9e35ae78-6dc4-3ed2-8373-b97a13bc1b24","instanceIdentifier":"1b5b050d-019c-1000-fc86-1f6049f8087e","name":"","source":{"id":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"UpdateAttribute","comments":"","instanceIdentifier":"1b57758d-019c-1000-4b0e-dc9a17f82b5d"},"destination":{"id":"4828aa8d-6ddf-3627-bd4b-0ede233f20fc","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutGCSObject","comments":"","instanceIdentifier":"1b596909-019c-1000-55ca-c4c367821d4a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"8d82c728-7482-38c5-b37b-97ef27346e7d","instanceIdentifier":"1b6b7ef2-019c-1000-6e19-85f53fc98e9d","name":"","source":{"id":"612828bd-4155-3e75-8633-66b96f9490ff","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"7fb4f183-4871-3efb-9d4a-8cfb37d2a933"},"destination":{"id":"b244343a-32a7-38d8-80b5-1c10dc0cc7ed","type":"PROCESSOR","groupId":"752e95e0-04f1-31a5-a247-a214d3d4ee09","name":"UpdateAttribute","comments":"","instanceIdentifier":"1b57758d-019c-1000-4b0e-dc9a17f82b5d"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"44266052-4be7-3537-927c-c03c2ab4470d","instanceIdentifier":"1b779030-019c-1000-b4d5-f4214c870c76","name":"TSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":"\\t","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"016df48f-9290-3e08-a3ad-5be7ff75d255","instanceIdentifier":"be071049-c23d-3b09-8c49-8b42bc047946","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/jdbc","Max Wait Time":"500 millis","Database Driver Class Name":"com.ing.data.cassandra.jdbc.CassandraDriver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":"SELECT release_version FROM system.local;","Database Password Provider":null,"Database Connection URL":"jdbc:cassandra://10.0.0.10--10.0.0.11--10.0.0.12:9042/amazon?localdatacenter=datacenter1","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":null,"Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"09c7920c-f697-38c9-877f-4ddbecf52f5a","instanceIdentifier":"f03933bd-3e03-37ef-c0ee-8a5468950af6","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"b00d2c01-37eb-322c-943b-6be4535d199d","instanceIdentifier":"169cffca-1e4e-35d0-f793-cbcb286375fb","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"{\n  \"type\":\"record\",\n  \"name\":\"amazon_review\",\n  \"fields\":[\n    {\"name\":\"marketplace\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"customer_id\",\"type\":[\"null\",\"long\"],\"default\":null},\n    {\"name\":\"review_id\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_id\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_parent\",\"type\":[\"null\",\"long\"],\"default\":null},\n    {\"name\":\"product_title\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"product_category\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"star_rating\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"helpful_votes\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"total_votes\",\"type\":[\"null\",\"int\"],\"default\":null},\n    {\"name\":\"vine\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"verified_purchase\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_headline\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_body\",\"type\":[\"null\",\"string\"],\"default\":null},\n    {\"name\":\"review_date\",\"type\":[\"null\",\"string\"],\"default\":null}\n  ]\n}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":"8c444b61-8492-36b9-ef53-5af93995ac46","Treat First Line as Header":"true","Schema Access Strategy":"schema-text-property","Ignore CSV Header Column Names":"false","Schema Name":"energy_weather_bronze","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\"","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"},{"identifier":"44fb5027-b727-3454-b5a8-778a314a8dfb","instanceIdentifier":"3e0bdd32-1a4f-3fa9-ffc6-860925ad0603","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Authentication Strategy":"Application Default Credentials","Scope":"https://www.googleapis.com/auth/cloud-platform","Audience":null,"STS Token Endpoint":"https://sts.googleapis.com/v1/token","Service Account JSON File":null,"Subject Token Provider":null,"Delegation Strategy":"Service Account","Subject Token Type":"urn:ietf:params:oauth:token-type:jwt","Delegation User":null,"Proxy Configuration Service":null},"propertyDescriptors":{"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STS Token Endpoint":{"name":"STS Token Endpoint","displayName":"STS Token Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Account JSON File":{"name":"Service Account JSON File","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Service Account JSON":{"name":"Service Account JSON","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Subject Token Provider":{"name":"Subject Token Provider","displayName":"Subject Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject Token Type":{"name":"Subject Token Type","displayName":"Subject Token Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"752e95e0-04f1-31a5-a247-a214d3d4ee09"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b0572494-1075-3efe-8c62-7c3044776c35"},{"identifier":"ac75299a-88eb-32d3-a49a-0b419ae00750","instanceIdentifier":"1b7e55d4-019c-1000-bda1-34aea1fa23a5","name":"TSVtoCSV","comments":"","position":{"x":-216.0,"y":-240.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1bac09b6-f335-3f8e-89f4-6b126d18ca8d","instanceIdentifier":"466bfe95-1c3d-352f-2f69-25ac10da9a44","name":"UpdateAttribute","comments":"","position":{"x":-784.0,"y":448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"gcs.dest.object":"${filename:trim():replaceAll('[\\\\r\\\\n]+',''):replaceFirst('^landing/source/', 'landing/raw/'):replaceFirst('\\\\.tsv$', '')}_${now():format(\"yyyyMMdd-HHmmss\")}.csv"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcs.dest.object":{"name":"gcs.dest.object","displayName":"gcs.dest.object","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"f47943e4-cb5a-334f-988a-e47ec42d6dce","instanceIdentifier":"049037a9-1ea0-32f3-3025-a3aa657e78c1","name":"FetchGCSObject","comments":"","position":{"x":-832.0,"y":24.0},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Object Generation":null,"Range Start":null,"Number of Retries":"6","Storage API URL":null,"Bucket":"${gcs.bucket}","Project ID":"mybigdataproject-485818","Key":"${filename}","Range Length":null,"Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Generation":{"name":"Object Generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Start":{"name":"Range Start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Range Length":{"name":"Range Length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"fca35e00-fd20-319b-a035-7177eaee0166","instanceIdentifier":"1bad0418-019c-1000-e1f4-a91d103eb210","name":"DeleteGCSObject","comments":"","position":{"x":-1174.9621811896282,"y":696.1038945197693},"type":"org.apache.nifi.processors.gcp.storage.DeleteGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Number of Retries":"6","Storage API URL":null,"Generation":null,"Bucket":"${gcs.bucket}","Project ID":"mybigdataproject-485818","Key":"${filename}","Proxy Configuration Service":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Generation":{"name":"Generation","displayName":"Generation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","instanceIdentifier":"7d5458ea-77a7-39e5-3b37-a2cfff116933","name":"ListGCSBucket","comments":"","position":{"x":-808.0,"y":-168.0},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Entity Tracking Initial Listing Target":"all","Entity Tracking State Cache":null,"Project ID":"mybigdataproject-485818","Use Generations":"false","Prefix":"landing/source/","Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Record Writer":null,"Listing Strategy":"timestamps","Entity Tracking Time Window":"1 min"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Generations":{"name":"Use Generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefix":{"name":"Prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"bb8788d6-beb7-3352-a3a2-bf6f57a8d45d","instanceIdentifier":"b81346fd-98f2-3613-e460-57160db6ded8","name":"ConvertRecord","comments":"","position":{"x":-840.0,"y":248.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"09c7920c-f697-38c9-877f-4ddbecf52f5a","Record Reader":"44266052-4be7-3537-927c-c03c2ab4470d"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"1b7b5d33-019c-1000-0bf1-0279d96b1271","instanceIdentifier":"d803ae76-a80d-3b7b-cb65-ba92242758d1","name":"PutGCSObject","comments":"","position":{"x":-776.0,"y":632.0},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Number of Retries":"6","Overwrite Object":"true","Project ID":"mybigdataproject-485818","Resource Transfer Source":"FLOWFILE_CONTENT","File Resource Service":null,"Proxy Configuration Service":null,"GCP Credentials Provider Service":"44fb5027-b727-3454-b5a8-778a314a8dfb","Content Disposition Type":null,"Storage API URL":null,"Bucket":"mysimbdp-landing-485818","Content Type":"${mime.type}","Object ACL":null,"Key":"${gcs.dest.object}","CRC32C Checksum":null,"GZIP Compression Enabled":"true"},"propertyDescriptors":{"Number of Retries":{"name":"Number of Retries","displayName":"Number of Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Overwrite Object":{"name":"Overwrite Object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Project ID":{"name":"Project ID","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Disposition Type":{"name":"Content Disposition Type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage API URL":{"name":"Storage API URL","displayName":"Storage API URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Side Encryption Key":{"name":"Server Side Encryption Key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object ACL":{"name":"Object ACL","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key":{"name":"Key","displayName":"Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CRC32C Checksum":{"name":"CRC32C Checksum","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GZIP Compression Enabled":{"name":"GZIP Compression Enabled","displayName":"GZIP Compression Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"91535bf0-515f-337d-9757-f95914eecfe5","instanceIdentifier":"1a522e6a-84f9-30d8-86e8-8dd7611ab5a4","name":"","source":{"id":"bb8788d6-beb7-3352-a3a2-bf6f57a8d45d","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"ConvertRecord","comments":"","instanceIdentifier":"b81346fd-98f2-3613-e460-57160db6ded8"},"destination":{"id":"1bac09b6-f335-3f8e-89f4-6b126d18ca8d","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"UpdateAttribute","comments":"","instanceIdentifier":"466bfe95-1c3d-352f-2f69-25ac10da9a44"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"8237860d-2662-3033-8237-63605c5c256e","instanceIdentifier":"c5c52af1-7fac-3885-144c-0bc28095a29c","name":"","source":{"id":"710e2b81-a73a-38f7-8822-5ee7d3cac3cf","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"ListGCSBucket","comments":"","instanceIdentifier":"7d5458ea-77a7-39e5-3b37-a2cfff116933"},"destination":{"id":"f47943e4-cb5a-334f-988a-e47ec42d6dce","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"FetchGCSObject","comments":"","instanceIdentifier":"049037a9-1ea0-32f3-3025-a3aa657e78c1"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"9968b3dd-e076-3ddb-909f-5dbdf17e1633","instanceIdentifier":"e60a0c94-7e66-37aa-a9d1-d0d7f3f94664","name":"","source":{"id":"1bac09b6-f335-3f8e-89f4-6b126d18ca8d","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"UpdateAttribute","comments":"","instanceIdentifier":"466bfe95-1c3d-352f-2f69-25ac10da9a44"},"destination":{"id":"1b7b5d33-019c-1000-0bf1-0279d96b1271","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"PutGCSObject","comments":"","instanceIdentifier":"d803ae76-a80d-3b7b-cb65-ba92242758d1"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"1e22248c-7975-3413-b856-278cd4c1ad4e","instanceIdentifier":"ece16040-8fc5-3ae0-d25c-e87a9e3f42cb","name":"","source":{"id":"f47943e4-cb5a-334f-988a-e47ec42d6dce","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"FetchGCSObject","comments":"","instanceIdentifier":"049037a9-1ea0-32f3-3025-a3aa657e78c1"},"destination":{"id":"bb8788d6-beb7-3352-a3a2-bf6f57a8d45d","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"ConvertRecord","comments":"","instanceIdentifier":"b81346fd-98f2-3613-e460-57160db6ded8"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"e281a122-aec5-3115-a25a-df1079854d71","instanceIdentifier":"1bad1339-019c-1000-e7c4-0674072c08c5","name":"","source":{"id":"1b7b5d33-019c-1000-0bf1-0279d96b1271","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"PutGCSObject","comments":"","instanceIdentifier":"d803ae76-a80d-3b7b-cb65-ba92242758d1"},"destination":{"id":"fca35e00-fd20-319b-a035-7177eaee0166","type":"PROCESSOR","groupId":"ac75299a-88eb-32d3-a49a-0b419ae00750","name":"DeleteGCSObject","comments":"","instanceIdentifier":"1bad0418-019c-1000-e1f4-a91d103eb210"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"44266052-4be7-3537-927c-c03c2ab4470d","instanceIdentifier":"649af444-4124-336e-e1e6-e7f4efa79156","name":"TSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":"\\t","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"09c7920c-f697-38c9-877f-4ddbecf52f5a","instanceIdentifier":"7817a2cb-abc2-3161-f234-2fb2496c66f2","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"016df48f-9290-3e08-a3ad-5be7ff75d255","instanceIdentifier":"6ed6cfe9-1322-32ae-4ea5-87e0e925df06","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/jdbc","Max Wait Time":"500 millis","Database Driver Class Name":"com.ing.data.cassandra.jdbc.CassandraDriver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":"SELECT release_version FROM system.local;","Database Password Provider":null,"Database Connection URL":"jdbc:cassandra://10.0.0.10--10.0.0.11--10.0.0.12:9042/test?localdatacenter=datacenter1","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":null,"Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"44fb5027-b727-3454-b5a8-778a314a8dfb","instanceIdentifier":"11f7e0cf-30c8-313a-8aa6-bef7e60c3c95","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.7.2"},"properties":{"Authentication Strategy":"Application Default Credentials","Scope":"https://www.googleapis.com/auth/cloud-platform","Audience":null,"STS Token Endpoint":"https://sts.googleapis.com/v1/token","Service Account JSON File":null,"Subject Token Provider":null,"Delegation Strategy":"Service Account","Subject Token Type":"urn:ietf:params:oauth:token-type:jwt","Delegation User":null,"Proxy Configuration Service":null},"propertyDescriptors":{"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scope":{"name":"Scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Audience":{"name":"Audience","displayName":"Audience","identifiesControllerService":false,"sensitive":false,"dynamic":false},"STS Token Endpoint":{"name":"STS Token Endpoint","displayName":"STS Token Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Account JSON File":{"name":"Service Account JSON File","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Service Account JSON":{"name":"Service Account JSON","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Subject Token Provider":{"name":"Subject Token Provider","displayName":"Subject Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject Token Type":{"name":"Subject Token Type","displayName":"Subject Token Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"},{"identifier":"b00d2c01-37eb-322c-943b-6be4535d199d","instanceIdentifier":"6a614cb9-115b-3a02-f1b8-f2b734b46189","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":"8c444b61-8492-36b9-ef53-5af93995ac46","Treat First Line as Header":"true","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"energy_weather_bronze","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\"","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac75299a-88eb-32d3-a49a-0b419ae00750"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b0572494-1075-3efe-8c62-7c3044776c35"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}